@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input {
    @apply outline-none;
  }
}
// input:focus + .error-input {
//   display: none;
// }
